# Database
MONGO_URI=mongodb+srv://22311a0568_db_user:zapier123@zapier.fij0don.mongodb.net/?appName=zapier
# JWT
JWT_SECRET=jSrL829TFuaJnBZO1CAxajONNGAXZstmKGnp5EURMb23UgenY+vgFxecBi/ZG9ifsEzZE8u1bHElHW1S/4pBOw==
JWT_EXPIRE=7d

# Email Service (Nodemailer)
EMAIL_SERVICE=gmail
EMAIL_USER=prashanthnelluri2005@gmail.com
EMAIL_PASSWORD=lmherfpehttbzqbv

# Third-party Services
INSTAGRAM_ACCESS_TOKEN=your_instagram_token
INSTAGRAM_USER_ID=your_instagram_user_id
INSTAGRAM_APP_SECRET=your_instagram_app_secret
WEBHOOK_VERIFY_TOKEN=your_webhook_verify_token
ZOOM_CLIENT_ID=your_zoom_client_id
ZOOM_CLIENT_SECRET=your_zoom_secret

# Application
PORT=5000
NODE_ENV=development
BASE_URL=http://localhost:5000

# Optional: API Keys
STRIPE_SECRET_KEY=your_stripe_key
